* {
  background-color: black;
  color:#FFAD31;
}

@font-face {
  font-family: 'Gloucester';
  src: url('../../fonts/gloucester-mt-extra-condensed.ttf') format('truetype');
}

@font-face {
  font-family: 'Britannic';
  src: url('../../fonts/britannic-bold.ttf') format('truetype');
}

.line-Yellow-aside {
  position: absolute;
  top: 0px;
  left: 40px;
  background-color: #FFAD31;
  height: 100%;
  width: 2px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gloucester {
  font-family: 'Gloucester', sans-serif;
}

.britannic {
  font-family: 'Britannic', sans-serif;
}

html {
  scroll-behavior: smooth;
}