* {
  background-color: black;
}

@font-face {
  font-family: 'Gloucester';
  src: url('../../fonts/gloucester-mt-extra-condensed.ttf') format('truetype');
}

.line-Yellow-aside {
  position: absolute;
  top: 0px;
  left: 40px;
  background-color: #FFAD31;
  height: 100%;
  width: 2px;
}