.section-about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1366px;
  max-height: 768px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.article-about-me-title {
  margin-top: 89px;
  margin-left: 0%;
}

.about-title {
  color: #fff;
  font-size: 64px;
  margin-bottom: 0;
  margin-top: 0;
}

.article-about-me-text {
  display: flex;
  flex-direction: column;
  max-height: 357px;
  max-width: 859px;
  background-color: #FFAD312E;
  margin-top: 87px;
  padding-top: 0px;
  padding-left: 26px;
  padding-right: 3px;
  margin-right: 17px;
}

.article-about {
  display: flex;
}

.aside-programer-about-me {
  margin-top: -60px;
  display: block !important;
  background: none;
  margin-left: 7px;
}

.img-programer-about-me {
  width: 393px;
  height: 626px;
  border-radius: 141px;
}

.about-des01 {
  font-size: 32px;
  word-wrap: break-word; /* Quebra palavras longas */
  word-break: break-word; /* Garante que palavras longas sejam quebradas */
  white-space: normal; /* Permite a quebra de linha */
  background: none;
}

.line-yellow-about-right-line {
  position: relative;
  background-color: #FFAD31;
  height: 2px;
  width: 870px;
}

.line-yellow-about-left-line {
  background-color: #FFAD31;
  width: 91px;
  height: 2px;
  margin-left: -10px;
}

.art-button-about {
  background: #FFAD31;
  border-radius: 30px;
  font-size: 1.25rem;
  font-weight: 500;
  position: relative;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 41px;
  width: 138px;
  cursor: pointer;
  text-decoration: none;
  z-index: 1;
}

.text-button-contact-about {
  color: #000000;
  background-color: #FFAD31;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  box-shadow: #000000 1px 1px 300px;
  border-radius: 30px;
  height: 41px;
  width: 138px;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  cursor: pointer;
  text-decoration: none;
}

.button-contact-about {
  display: inline-block; /* Garante que o <a> se comporte como um bloco */
  background: none;
  border: none;
  cursor: pointer;
  height: 4.25rem;
  padding: 0;
  margin-top: 90px;
  margin-left: 652px;
  justify-content: center;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

.ajust-button-contact-about {
  margin-top: 90px;
  margin-left: 672px;
}

.text-button-contact-about:hover {
  background-color: #ffffff;
  color: #000000;
}

.art-button-about:hover {
  background-color: #ffffff;
  color: #000000;
}
