#apresentation-basic {
    color: #FFAD31;
    font-size: 56px;
    background: none;
}

.section-apresentation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  max-width: 1366px;
  max-height: 768px;
  margin: 0 auto;
  margin-bottom: 58px;
}

.article-containt-apresentation {
  background: none;
  display: flex;
  flex-direction: row;
}

.home-text-apresentation {
  margin-top: 120px;
  margin-left: -130px;
  margin-bottom: 47px;
  z-index: 1;
  background: none;
}

#home-my-name {
  color: #ffffffff;
  font-size: 68px;
  background: none;
  font-weight: bold;
  margin-top: -65px;
  margin-left: -10px;
  margin-bottom: 0rem;
  z-index: 1;
}

#home-title {
  color: #FFAD31;
  background: none;
  font-size: 118px;
  margin-top: 30px;
  margin-bottom: 85px;
  z-index: 1;
}

.button-contact {
  background: none;
  border: none;
  cursor: pointer;
  height: 4.25rem;
  padding: 0;
  margin-bottom: 0px;
  margin-left: 41px;
  justify-content: center;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

.art-button {
  background: #FFAD31;
  border-radius: 30px;
  font-size: 1.25rem;
  font-weight: 500;
  position: relative;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 41px;
  width: 138px;
  cursor: pointer;
  text-decoration: none;
}

.text-button-contact {
  color: #000000;
  background-color: #FFAD31;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  box-shadow: #000000 1px 1px 300px;
  border-radius: 30px;
  height: 41px;
  width: 138px;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  cursor: pointer;
  text-decoration: none;
}

.home-bg-purple {
  background-image: url('../../images/fundo-roxo-home.png');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  margin-top: 80px;
  margin-left: -230px;
  margin-right: 20px;
  width: 648px;
  height: 648px;
  z-index: 0;
}

.text-button-contact:hover {
  background-color: #ffffff;
  color: #000000;
}

.art-button:hover {
  background-color: #ffffff;
  color: #000000;
}