.section-projects-black {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1366px;
  max-height: 768px;
  margin-top: 20px;
}

.bg-projects-black {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  margin-bottom: -957px;
  max-width: 1366px;
  max-height: 868px;
  z-index: 0;
}

.project-title-all {
  color: #fff;
  font-size: 64px;
  margin-bottom: 0;
  margin-left: 800px;
  margin-top: 0;
  z-index: 1;
}

.project-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: none;
  margin-top: 0px;
  max-width: 1366px;
  max-height: 768px;
}

.img-bg-projects {
  width: 1366px;
  height: 868px;
  background: none;
}

.projects-bg-line-left {
  position: absolute;
  right: 4px;
  background-color: #FFAD31;
  width: 100vw;
  height: 2px;
  z-index: 1;
}


.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: none;
  margin-left: 103px;
  margin-top: 100px;
  max-width: 1207px;
  gap: 93px;
  z-index: 1;
}

.project-card {
  background: #f0f0f0;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 8px #0000001a;
  height: 231px;
  width: 231px;
  z-index: 1;
}

.project-card-title {
  font-size: 40px;
  margin-top: -30px;
  margin-left: 10px;
  background: none;
  margin-bottom: 0px;
  z-index: 1;
}

.project-title {
  color: #500086;
  background: none;
  font-size: 35px;
  font-weight: bold;
  z-index: 1;
}

.projects-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 1;
} 

.projects-img-container img {
  height: 14.6rem;
  width: 100%;
  border: #500086 2px solid;
}